AUTH0_SECRET='replace-with-32-char-random-string'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://<tenant>.auth0.com'
AUTH0_CLIENT_ID='<client-id>'
AUTH0_CLIENT_SECRET='<client-secret>'
